/* CSS overrides and classes for the entire page. */

body {
  font-family: 'Tex Gyre Adventor', Futura, 'Century Gothic', helvetica, sans-serif;
}

.hero_image {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title_text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 2em;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0));
}
